.active-menu-item {
    background: linear-gradient(90deg, #FFFFFF 0%, #075DED 100%);
    color: #FF6700;
  }
  
  .active-menu-item-clicked {
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white */
  }
  